# Jenkins & Localstack runtime
jenkins_home/
localstack/

# Terraform state & cache
*.tfstate
*.tfstate.backup
.terraform/

# Node & React
node_modules/
build/
dist/

# Environment files & secrets
.env
.env.*

# Logs
*.log

# System files
.DS_Store 